.u-section-1 .u-sheet-1 {
  min-height: 621px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  width: 550px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 550px;
  margin: 9px auto 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 9px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}