.u-section-1 .u-sheet-1 {
  min-height: 695px;
}

.u-section-1 .u-text-1 {
  margin: 25px auto 0 25px;
}

.u-section-1 .u-text-2 {
  margin: -39px 25px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -39px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 207px;
  height: auto;
  width: 356px;
  margin: 19px auto 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 207px;
  height: auto;
  margin: -207px 784px 0 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 207px;
  height: auto;
  margin: -207px 0 60px 784px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 25px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 559px;
    margin-left: 25px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 584px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-top: -39px;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 339px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 364px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 159px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 184px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -86px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -17px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 107px;
    margin-top: 9px;
    margin-right: 189px;
    margin-left: auto;
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 0;
  }
}