.u-section-1 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 487px;
  height: auto;
  margin: 0 420px 0 0;
}

.u-section-1 .u-text-1 {
  margin: -322px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }
}